!!!
%html
  = content_for :title do
    = @facility.name
  = render "layouts/head"

  %body.text-base-content
    = render "shared/flash"

    %header.bg-neutral{ style: 'color: #fff; '}
      %h1.text-text-left
        = link_to @facility.name, root_path
      .flex.gap-x-6.items-center.justify-end
        = turbo_stream_from current_user
        = render current_user
        = link_to destroy_user_session_path, data: { "turbo-method": :delete } do
          = render IconComponent.new(icon: 'right-from-bracket', id: 'logout')
    %main
      = yield
    = turbo_frame_tag 'modal'
